* {
	font-family: Calibri;
}

#container {
	display: flex;
}

.section {
	margin: 10px 10px 10px 10px;	
}

.section:NTH-CHILD(1) {
	flex: 0.5;
}

.section:NTH-CHILD(2) {
	flex: 1;
}

h1, h3, h4, .titre-pro {
	color: rgb(153, 153, 153);
}

h1 {
	font-size: 1.5em;
}

h3, h2, .client, .duree, .role, .nom-prenom {
	font-size: 1.3em;
}

.nom-prenom {
	font-weight: bold;
}

.titre-pro {
	font-size: 1.2e;
	font-style: italic;
}

.mot-cle {
	font-weight: bold;
	color: blue;
}

.experience {
	text-decoration: underline;
}

p, h6 {
	font-size: 1em;
}

p {
	text-align: justify;
}

.pleft {
	font-size: 0.9em;
}

.bloc-experience {
	text-align: right;
}

.client:BEFORE {
	content: url(../img/businessman-24.png);
	padding-right: 0.5em
}

.duree:BEFORE {
	content: url(../img/calendar-3-24.png);
	padding-right: 0.5em
}

.role:BEFORE {
	content: url(../img/briefcase-4-24.png);
	padding-right: 0.5em
}

.contexte:AFTER {
	content: url(../img/info-3-24.png);
	padding-left: 0.5em
}

.realisation:AFTER {
	content: url(../img/worker-24.png);
	padding-left: 0.5em
}

.environnement:AFTER {
	content: url(../img/settings-24-24.png);
	padding-left: 0.5em
}